<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|striptags} | {/ifset}TM administrace</title>

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap-theme.min.css">
	  <link rel="stylesheet" href="{$basePath}/css/jquery-ui.min.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
  
	<link rel="stylesheet" href="{$basePath}/css/{if isset($style)}{$style}{/if}.css">
</head>

<body>

    <!-- menu -->
    <nav class="navbar navbar-inverse container">
      <div class="container-fluid">
        <div class="navbar-header">
          <a n:href="Homepage:">
            <span class="navbar-brand">TM administrace</span>
          </a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <!-- Intro -->
	    <li class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="" n:if="$user->loggedIn">Úvodní strana<span class="caret"></span></a>
	      <ul class="dropdown-menu">
	        <li><a n:href="Intro:sprava">Správa</a></li>
		    <li><a n:href="Intro:upravaF">Přidat fotku</a></li>
	      </ul>
	    </li>
            <!-- Akce -->
	    <li class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="" n:if="$user->loggedIn">Akce<span class="caret"></span></a>
	      <ul class="dropdown-menu">
	        <li><a n:href="Akce:sprava">Správa</a></li>
		    <li><a n:href="Akce:uprava">Nová akce</a></li>
	      </ul>
	    </li>
            <!-- Fotogalerie -->
	    <li class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="" n:if="$user->loggedIn">Fotogalerie<span class="caret"></span></a>
	      <ul class="dropdown-menu">
	        <!--<li><a n:href="Fotogalerie:sprava">Správa fotogalerie</a></li>-->
		<li><a n:href="Fotogalerie:addPhoto">Přidat fotku</a></li>
		<li><a n:href="Fotogalerie:galerieSortable">Správa fotogalerie</a></li>
	      </ul>
	    </li>
            <!-- Masaze -->
	    <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="" n:if="$user->loggedIn">Masáže<span class="caret"></span></a>
        	    <ul class="dropdown-menu">
        	        <li><a n:href="Massages:sprava">Správa masáží</a></li>
        		    <li><a n:href="Massages:upravaK">Přidat kategorii masáží</a></li>
        		    <li><a n:href="Massages:upravaM">Přidat masáž</a></li>
        	    </ul>
        </li>
            <!-- Oleje -->
	    <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="" n:if="$user->loggedIn">Oleje<span class="caret"></span></a>
        	    <ul class="dropdown-menu">
        	        <li><a n:href="Oils:sprava">Správa olejů</a></li>
        		    <li><a n:href="Oils:upravaK">Přidat kategorii</a></li>
        		    <li><a n:href="Oils:upravaO">Přidat olej</a></li>
        	    </ul>
        </li>

            <!-- Uvodni strana -->

	    {if $user->loggedIn}
		 <li><a n:href="Sign:out">Odhlásit se</a></li>
	    {else}
		<li><a n:href="Sign:in">Přihlásit se</a></li>
	    {/if}
          </ul>
        </div>
      </div>
    </nav>
    <!-- konec menu -->
	<div class="container">
	  <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	</div>

	{include content}

	{block scripts}
	    <script type="text/javascript" src="{$basePath}/js/jquery-1.9.1.min.js"></script>
	    <script type="text/javascript" src="{$basePath}/js/jquery-ui.min.js"></script>
	    <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
	    <script type="text/javascript" src="{$basePath}/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="{$basePath}/js/ckeditor/ckeditor.js"></script>
	    <script type="text/javascript" src="{$basePath}/js/nette.ajax.js"></script>
	    
	    <script type="text/javascript" src="{$basePath}/js/{if isset($script)}{$script}{/if}.js"></script>
	    
	    
	    
	{/block}
</body>
</html>

