<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|striptags} | {/ifset}TM administrace</title>

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
  
	<link rel="stylesheet" href="{$basePath}/css/{if isset($style)}{$style}{/if}.css">
</head>

<body>

    <!-- menu -->
    <nav class="navbar navbar-inverse container">
      <div class="container-fluid">
        <div class="navbar-header">
          <a n:href="Homepage:">
            <span class="navbar-brand">TM administrace</span>
          </a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <!--<li><a n:href="Homepage:">Úvodní strana</a></li>-->
	    <li class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="" n:if="$user->loggedIn">Fotogalerie<span class="caret"></span></a>
	      <ul class="dropdown-menu">
	    <li><a n:href="Fotogalerie:sprava">Správa fotogalerie</a></li>
		<li><a n:href="Fotogalerie:addPhoto">Přidat fotku</a></li>
	      </ul>
	    </li>

        <li><a n:href="Massages:sprava">Masáže</a></li>

	    {if $user->loggedIn}
		 <li><a n:href="Sign:out">Odhlásit se</a></li>
	    {else}
		<li><a n:href="Sign:in">Přihlásit se</a></li>
	    {/if}
          </ul>
        </div>
      </div>
    </nav>
    <!-- konec menu -->
	<div class="container">
	  <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	</div>

	{include content}

	{block scripts}
	    <script type="text/javascript" src="{$basePath}/js/jquery-1.9.1.min.js">
	    <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
	    <script type="text/javascript" src="{$basePath}/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="{$basePath}/js/ckeditor/ckeditor.js"></script>
	{/block}
</body>
</html>

