

.section {
    padding-top: 40px;
}

h4.kategorie {
    margin: 30px 0 5px 50px;
}

.name {
    float: left;
}

.name p {
    color: #C2C2C2;
    font-size: 11pt;
    padding-top: 5px;
}

.price {
    float: right;
}

.price p {
    color: #C2C2C2;
    text-transform: none;
    font-size: 11pt;
    padding-top: 5px;

}

.wrapper {
    margin: 0 50px;
    padding: 0 20px;
    border-radius: 10px;
    min-width: 300px;
}

.odd {
    background-color: #800000;
}

/*.even {
    background-color: #4d0000;
}*/