/* contact */

body {
    height: auto;
}

#contact {
    /*background-color: #222;*/
    background-color: #660000;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

#contact .section-heading {
    color: #fed136;
}

#contact .section-subheading {
    color: white;
}

#contact .form-group {
    margin-bottom: 25px;
}

#contact .form-group input,
#contact .form-group textarea {
    padding: 20px;
}

#contact .form-group input.form-control {
    height: auto;
}

#contact .form-group textarea.form-control {
    height: 236px;
}

#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#contact .text-danger {
    color: #e74c3c;
}

#contactSection {
    text-align: left;
}

#contactSection ul {
    margin-top: 30px;
    list-style: none;
}

#contactSection .contactColumn h3 {
    margin-left: 40px;
}

#contactSection .voucherColumn {
    /* border: 1px solid green;*/
}

#voucher {
    /* border: 1px solid blue;*/
    border-radius: 10px;
    width: 400px;
    height: 100px;
    margin-top: 30px;
    background-color: darkred;
    background-image: url('../img/voucher.png');
}

#fb-icon {
    position: absolute;
    left: 50px;
    top: 65px;
    width: 30px;
    height: 30px;
    background-image: url('../img/fb-icon.png');
    /* border: 1px solid blue;*/
    margin-left: 100px;
}

.mapWrapper {
    width: 550px;
    height: 210px;
    /*border: 2px solid #fed136;
    border-radius: 10px;*/
    margin-top: 20px;
    margin-bottom: 30px;
    margin: 0 auto;
}

.contactColumn {
    margin-left: 50px;
}

.googleMap {
    border: 3px solid #fed136;
    border-radius: 10px;
}

.formErrors p {
    border: 2px solid red;
    color: red;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ff9999;
}

.formSuccess p {
    border: 2px solid green;
    color: green;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #adebad;
}

@media(max-width:991px) {
    .mapWrapper {
        margin: 10px auto;
    }

    .contactColumn {
        margin-left: 50px;
    }
}

@media(max-width:767px) {

    #fb-icon {
        position: absolute;
        left: 50px;
        top: 40px;
        width: 30px;
        height: 30px;
        background-image: url('../img/fb-icon.png');
        /* border: 1px solid blue;*/
        margin-left: 100px;
    }

    .contactColumn {
        margin-left: 0px;
    }
}

