

/* Slider */
.carousel {
    height: 80%;
}

.item,
.active,
.carousel-inner {
    height: 100%;


}

#myCarousel {
    border-bottom: 5px solid #fec503;
    border-top: 5px solid #fec503;
    box-shadow: 0 0 80px 40px black;
    -moz-box-shadow: 0 0 80px 40px black;
}

/* Fotky na pozadi jsou nastaveny v indexu pomoci inline CSS*/

.fill {
    width: 100%;
    height: 100%;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* end slider */

#services .box {
  padding-bottom: 0;
}

#services .row > div {
  margin-bottom: 50px;
}

/*
#about_us {
    position: relative;
    z-index: 10;
    margin-top: -100px;
}*/

#services {
    position: relative;
    z-index: 10;
    margin-top: -100px;
}

#uvodText {
    
}

.obrazek:hover {
    border: 3px solid #660000;
    opacity: 0.4;
}

/*** contact section ***/

#contactSection {
    text-align: left;
}

#contactSection ul {
    margin-top: 30px;
    list-style: none;
}

#contactSection .contactColumn h3 {
    margin-left: 40px;
}

#contactSection .voucherColumn {
   /* border: 1px solid green;*/
}

#voucher {
   /* border: 1px solid blue;*/
    border-radius: 10px;
    width: 400px;
    height: 100px;
    margin-top: 30px;
    background-color: darkred;
    background-image: url('../img/voucher.png');
}

#fb-icon-maserna {
    position: absolute;
    left: 100px;
    bottom: 130px;
    width: 30px;
    height: 30px;
    background-image: url('../img/fb-icon.png');
   /* border: 1px solid blue;*/
    margin-left: 100px;
}

#fb-icon-kosmetika {
    position: absolute;
    left: 120px;
    bottom: 150px;
    width: 30px;
    height: 30px;
    background-image: url('../img/fb-icon.png');
   /* border: 1px solid blue;*/
    margin-left: 100px;
}


/****** @media ****/
@media(max-width:1024px) {
    #logo {
        font-size: 30pt;
    }
    .carousel {
        height: 90%;
        position: relative;
        z-index: 0;
    }
}

@media(max-width:991px) {
    #fb-icon-maserna {
        position: absolute;
        left: 100px;
        bottom: 170px;
        width: 30px;
        height: 30px;
        background-image: url('../img/fb-icon.png');
        /* border: 1px solid blue;*/
        margin-left: 100px;
    }
    
    #fb-icon-kosmetika {
        position: absolute;
        left: 120px;
        bottom: 210px;
        width: 30px;
        height: 30px;
        background-image: url('../img/fb-icon.png');
        /* border: 1px solid blue;*/
        margin-left: 100px;
    }
}


@media(max-width:767px) {
    #logo {
        font-size: 23pt;
    }
    
    #logoDiv {
        /*border: 1px solid green;*/
        top: 20%;
    }
    
    .carousel {
        height: 85%;
        position: relative;
        z-index: 0;
    }

    #fb-icon-maserna {
        position: absolute;
        left: 100px;
        bottom: 120px;
        width: 30px;
        height: 30px;
        background-image: url('../img/fb-icon.png');
        /* border: 1px solid blue;*/
        margin-left: 100px;
    }
    
    #fb-icon-kosmetika {
        position: absolute;
        left: 120px;
        bottom: 140px;
        width: 30px;
        height: 30px;
        background-image: url('../img/fb-icon.png');
        /* border: 1px solid blue;*/
        margin-left: 100px;
    }
}

@media screen and (max-height:768px) {
    .carousel {
        height: 85%;
        position: relative;
        z-index: 0;
    }
}





