# .htaccess

Options -Indexes

RewriteEngine On
# RewriteBase / --toto je potreba odkomentovat na produkcnim, kdyby to nejelo (i s tim lomitkem)

# front controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz)$ index.php [L]

AddType application/x-httpd-php .php .phtml

ExpiresActive On
ExpiresByType text/html M0