{block content}

<div class="container content">

    <h2>Správa novinek</h2>

    {if $novinky != NULL}
        <ul>
        {foreach $novinky as $novId => $nov}
            <li><a n:href="Intro:upravaN, 'novinka' => $novId">{$nov}</a></li>
        {/foreach}
        </ul>
    {else}
        Žádné novinky.
    {/if}


</div>