{block content}

<div class="container content">

    <div class="row">
        <div class="col-lg-5 ">
            
            <h2>Přidat novinku</h2>
            
            <p>Vyberte soubor a stiskněte <strong>Nahrát</strong>.</p>
            <p>Podporovány jsou soubory typu .JPG, .PNG, .GIF</p>
            
            {control novinkaForm}
        </div>
    </div>
    

    
</div>