{block content}


<div class="container content">

    <h2>Správa fotek</h2>

<a n:href="Massages:uprava"> Uprava </a>

{*
<ul>
{foreach $kategorie as $kat}
    {foreach $kat as $ka => $masaze}
        <li>{$ka}</li>
        <ul>
        {foreach $masaze as $masaz}
            <li>{$masaz}</li>
        {/foreach}
        </ul>
    {/foreach}
{/foreach}
</ul>
*}

</div>