{block content}

<div class="container content">

        <h2>Nová kategorie</h2>

    <div class="row">
        <div class="col-lg-5 ">

            {control kategorieForm}

        </div>
    </div>
</div>