
{include file='inc/header.html'}

<div class="content">

    <section>
        <div class="container small-section">
            
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">

                    {if $akce == NULL}
                        Žádné akce
                    {else}
                        {foreach from=$akce item=akc}
                            <h3>{$akc['nazev']}</h3>
                            <hr />
                                <div class="push_right">

                                     {$akc['popis']}

                                    <h4 class="platnost">{$akc['plati']}</h4>
                                    <div class="clear"></div>
                                </div>
                        {/foreach}
                    {/if}

                </div>
               
            </div>
            
        </div>
    </section>
    
    <section>
        <div class="container sectionBetweenSection">
        </div>
    </section>
    
</div>


{include file='inc/footer.html'}