
{include file='inc/header.html'}

<div class="content">

    <section>
        <div class="container small-section">
            
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">

                    <h3>Tajemství masérny - vánoční akce</h3>
                    <hr />
                         <div class="push_right">
                             
                             <p>
                                 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu
                                 ad litora torquent per conubia nostra, per inceptos hymenaeos. Duis pulvinar.
                                 Integer pellentesque quam vel velit. Vivamus luctus egestas leo. Etiam egestas
                                 wisi a erat. Mauris metus. Cum sociis natoque penatibus et magnis dis parturient
                                 montes, nascetur ridiculus mus. Nulla turpis magna, cursus sit amet, suscipit a,
                                 interdum id, felis. Nunc dapibus tortor vel mi dapibus sollicitudin. 
                             </p>
     
                             <h4 class="platnost">Platí do 31.12.2015</h4>
                             <div class="clear"></div>
                         </div>
     
                    <h3>Novoroční slevy na detoxikační masáže</h3>
                    <hr />
                        <div class="push_right">
                            
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu
                                 ad litora torquent per conubia nostra, per inceptos hymenaeos. Duis pulvinar.
                                 Integer pellentesque quam vel velit. Vivamus luctus egestas leo. Etiam egestas
                                 wisi a erat. Mauris metus. Cum sociis natoque penatibus et magnis dis parturient
                                 montes, nascetur ridiculus mus.
                            </p>
     
                            <h4 class="platnost">Platí do 31.1.2016</h4>
                            <div class="clear"></div>
                        </div>
                        
                    <h3>Sleva pro držitele ISIC na všechny naše služby</h3>
                    <hr />
                        <div class="push_right">
                            
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu
                                 ad litora torquent per conubia nostra, per inceptos hymenaeos. Duis pulvinar.
                                 Integer pellentesque quam vel velit. Vivamus luctus egestas leo. Etiam egestas
                                 wisi a erat. Mauris metus. Cum sociis natoque penatibus et magnis dis parturient
                                 montes, nascetur ridiculus mus.
                            </p>     
                            <p>  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu
                                 ad litora torquent per conubia nostra, per inceptos hymenaeos. Duis pulvinar.
                                 Integer pellentesque quam vel velit. Vivamus luctus egestas leo. Etiam egestas
                                 wisi a erat. Mauris metus.
                            </p>
     
                            <h4 class="platnost">Platí do odvolání</h4>
                            <div class="clear"></div>
                        </div>    
                </div>
               
            </div>
            
        </div>
    </section>
    
    <section>
        <div class="container sectionBetweenSection">
        </div>
    </section>
    
</div>


{include file='inc/footer.html'}