
{include file='inc/header.html'}

<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>-->

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        {foreach from=$photoses item=photo name=foo}
            {if $smarty.foreach.foo.first}
                <div class="item active">
            {else}
                <div class="item">
            {/if}
                {$phot = $photo['plna']}
                <div class="fill" style='background-image:url("{$phot}");'></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
        {/foreach}
    </div>
</div>

<a href="http://www.ditasniehottova.cz"><div id="kosmetikaLink"></div></a>

<!-- *************************************** -->
<!-- content -->
<!--
<section>
    <div id="about_us"class="container section">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>O nás</h2>
                <p>
                    Dnešní doba bohužel přeje poruchám pohybového aparátu a jejich léčba vyžaduje nejen cit, ale i zkušenosti.
                    Naši maséři a masérky mají několikaleté zkušenosti, které neustále rozšiřují skrze různé kurzy a školení. Nabízíme tak vysoce individuální přístup ke každému klientovi.
                    Přijďte i Vy objevit Tajemství masérny.
                </p>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container sectionBetweenSection">
    </div>
</section>
-->
<section>
    <div id="services" class="container section">
        <div >
            <div class="row center">
                
                <div class="col-lg-10 col-lg-offset-1">
                    <p id="uvodText">
                        Dnešní doba bohužel přeje poruchám pohybového aparátu a jejich léčba vyžaduje nejen cit, ale i zkušenosti.
                        Naši maséři a masérky mají několikaleté zkušenosti, které neustále rozšiřují skrze různé kurzy a školení. Nabízíme tak vysoce individuální přístup ke každému klientovi.
                        Přijďte i Vy objevit Tajemství masérny.
                    </p>
                </div>
            </div>
            
            <div class="row center">
                
                    <h4>Aktuality</h4>
                
            </div>
            
            <div class="row aktuality">
                
                <div class="col-lg-4 aktualita">
                    <div class="aktualita_part_img">
                        <a href="{$ROOT}/kategorie1/idMasaze12"><img src="media/img/aktuality/aktualita1.jpg" class="img-circle aktualita_obrazek" width="70px" height="70px"></a>
                    </div>        
                    <div class="aktualita_part_text">
                        <p>NOVINKA - Čínská masáž nohou An Mo</p>
                    </div>
                    <div class="clear"></div>
                </div>
                
                <div class="col-lg-4 aktualita" >
                    <div class="aktualita_part_img">
                        <img src="media/img/budha_logo.png" class="img-circle aktualita_obrazek" width="70px" height="70px">
                    </div>        
                    <div class="aktualita_part_text">
                        <p>NOVINKA - Lorem ipsum dolor sit amet, adipiscing elit.</p>
                    </div>
                    <div class="clear"></div>
                </div>
                
                <div class="col-lg-4 aktualita">
                    <div class="aktualita_part_img">
                        <img src="media/img/budha_logo.png" class="img-circle aktualita_obrazek" width="70px" height="70px">
                    </div>        
                    <div class="aktualita_part_text">
                        <p>NOVINKA - Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                    <div class="clear"></div>
                </div>
                
            </div>
                
            <div class="row center">    
                <div class="col-md-12">
                    <h2>Nabídka masáží</h2>
                </div>
            </div>
            <div class="row">



                {foreach from=$kategorie item=kat name=ms}
                    {if $smarty.foreach.ms.index % 3 == 0 }
                        </div><!-- /row -->
                        <div class="row">
                    {/if}

                <div class="col-md-4 col-sm-6">
                    <div class="center">

                        <a href="{$ROOT}/{$kat['idNazev']}"><img src="{$kat['obrazek']}" class="img-circle obrazek" width="200px" height="200px"></a>
                        <a href="{$ROOT}/{$kat['idNazev']}"><h4>{$kat['nazev']}</h4></a>
                        {$kat['popis']}

                    </div>
                </div>
                {/foreach}
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->

<section>
    <div class="container sectionBetweenSection">
    </div>
</section>

    <!--
<section>
    <div id="contactSection"class="container small-section">
        <div class="row">
            <div class="col-sm-4 col-md-5  col-lg-5 col-lg-offset-1 contactColumn">
                <h3>Masérna:</h3>
                <a href="https://www.facebook.com/TajemstviMaserny"><div id="fb-icon-maserna"></div> </a>

                <ul>
                    <li><h4>Monika Páclová</h4></li>
                    <li>tet.: 739 513 425</li>
                    <li>e-mail: info@tajemstvimaserny.cz</li>
                    <li></li>
                    <li>adresa: 28.října 548/8, Ostrava</li>
                </ul>
            </div>

            <div class="col-sm-8 col-md-7 col-lg-5 voucherColumn" >
                <h3>Dárkový poukaz:</h3>
                <a href="{$ROOT}/darkovyPoukaz">
                    <div id="voucher">
                    </div>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-4 col-md-5  col-lg-5 col-lg-offset-1 contactColumn">
                <h3>Kosmetika:</h3>
                <a href="https://www.facebook.com/perfectladiesbolatice"><div id="fb-icon-kosmetika"></div> </a>

                <ul>
                    <li><h4>Dita Sniehottová</h4></li>
                    <li>tet.: 731 940 039</li>
                    <li>e-mail: D.Sniehottova@seznam.cz</li>
                    <li></li>
                    <li>adresa: 28.října 548/8, Ostrava</li>
                    <li><a href="http://www.ditasniehottova.cz">www.ditasniehottova.cz</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
-->
<section>
    <div class="container sectionBetweenSection">
    </div>
</section>


{include file='inc/footer.html'}