{include file='inc/header.html'}

<div class="content">
    <div class="container section">

        <div class="row">
            {foreach from=$photos key=key item=photo}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="img_wrapper">
                        <a href="{$photo['plna']}" rel="lightbox-group" class="imgLink"><img src="{$photo['miniatura']}" alt="" class="fotoItem"></a>
                    </div>
                </div>
            {/foreach}

        </div>
    </div>
</div>

{include file='inc/footer.html'}