{include file='inc/header.html'}

{capture name=priceTable}
    <div class="row priceTable">
        <div class="col-lg-10 col-lg-offset-1">
            <hr />
            <div class="price">
                <h3><span>60 minut:</span> 400Kč</h3>
            </div>
        </div>
    </div>
{/capture}

<div class="content">

    <div class="container sectionBetweenSection">
    </div>

    <div class="container section">
        <div class="row">
            <div id="left_menu" class="col-lg-3 left_column">

                {foreach from=$kategorie item=kat}
                    <h4>{$kat['nazev']}</h4>
                    <ul id="{$kat['idNazev']}" class="no_list_style">
                        {foreach from=$kat['masaze'] item=masaz name=mLoop}
                            <li id="{$kat['idNazev']}{$smarty.foreach.mLoop.index + 1}" class="menu_item">{$masaz['nazev']}</li>
                        {/foreach}
                    </ul>
                {/foreach}
            </div>

            <div class="col-lg-9 right_column">

            {foreach from=$kategorie item=kat}
                {foreach from=$kat['masaze'] item=masaz name=mLoop}
                    <div id="{$kat['idNazev']}{$smarty.foreach.mLoop.index + 1}m" class="{$smarty.foreach.mLoop.index + 1}m massage">
                        <div class="row">
                            <div class="col-lg-3 col-lg-offset-1 col2">
                                <img src="{$ROOT}/{$masaz['obrazek']}" class="img-circle obrazek" width="150px" height="150px">
                            </div>
                            <div class="col-lg-7 col1">
                                <h3>{$masaz['nazev']}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <p>
                                    {$masaz['popis']}
                                </p>
                            </div>
                        </div>
                        <div class="row priceTable">
                            <div class="col-lg-10 col-lg-offset-1">
                                <hr />
                                <div class="price">
                                    <h3><span>{$masaz['cas']} minut:</span>{$masaz['cena']}Kč</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                {/foreach}
            {/foreach}

            </div> <!-- Right column-->
        </div>
    </div>

    <div class="container sectionBetweenSection">
    </div>

    <div class="container small-section">
        <div class="row">

            <div class="col-lg-5 col-lg-offset-1">
                <h4>Masáže nelze provádět při:</h4>
                <ul>
                    <li>zánětlivých, horečnatých, virových, nádorových, srdečních a infekčních onemocnění </li>
                    <li>pooperačních stavech (náhrady kolenních, kyčelních kloubů, plastika vazů, vyhřezlé ploténky)</li>
                </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <br /> <br />
                <ul>
                    <li>rozsáhlých křečových žílách</li>
                    <li>těsně po jídle nebo velké fyzické námaze</li>
                    <li>vysokém krevním tlaku </li>
                    <li>kožní infekční chorobě</li>
                    <li>těhotenství</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container sectionBetweenSection">
    </div>



</div>

{include file='inc/footer.html'}