{include file='inc/header.html'}

<div class="content">

    <div class="container small-section center">
        <h4>Ke každé masáži si můžete zvolit některý z našich aromaterapeutických olejů.</h4>
    </div>

    <div class="container sectionBetweenSection">
    </div>

    <div class="container section">
       <div class="row">
           <div class="col-lg-10 col-lg-offset-1">

               <h3>Detoxikační oleje</h3>
               <hr />
                    <div class="push_right">
                        <h4 class="oil_name">Rozmarýnový olej</h4>
                        <p>
                            Silně stimulující a harmonizující silice, nervová bolest hlavy, migréna, únava,
                            antiseptické účinky, podporuje žaludeční činnost, antispazmatickém, svalové bolesti,
                            nedokrevnost končetin, celulitida, stimuluje srdeční činnost, diuretikum, brání vzniku
                            jizev, normalizuje krevní tlak, tonizační, napomáhá regeneraci vlasové pokožky.
                        </p>

                        <h4 class="price">Cena 100,- Kč</h4>
                        <div class="clear"></div>
                    </div>

               <h3>Harmonizační oleje</h3>
               <hr />
                   <div class="push_right">
                       <h4 class="oil_name">Levandulový olej</h4>
                       <p>
                           Uklidňuje, pomáhá při nervovém vypětí, bolesti hlavy, analgetikum, dýchací problémy,
                           bronchitida, menstruační bolesti, revmatické bolesti, svalové bolesti,
                           repelent, snižuje tlak, hodí se na všechny typy pleti, regeneruje kožní buňky,
                           antiseptikum, normalizuje mazotok, má hojivé účinky.
                       </p>

                       <h4 class="price">Cena 100,- Kč</h4>
                       <div class="clear"></div>
                   </div>

               <h3>Rejuvenizační oleje</h3>
               <hr />
                   <div class="push_right">
                       <h4 class="oil_name">Santalový olej</h4>
                       <p>
                           Působí na nervový systém, antidepresivum, afrodiziakum, sedativum, nespavost,
                           psychosomatické problémy, diuretikum, katar, kašel, nachlazení, bolesti v krku,
                           stimuluje trávení, nevolnost, tonikum, akné, mastná pleť, zvláčňuje suchou
                           a dehydratovanou pleť.
                       </p>

                       <h4 class="price">Cena 100,- Kč</h4>
                       <div class="clear"></div>
                    </div>
           </div>
       </div>
    </div>

    <div class="container sectionBetweenSection">
    </div>
</div>

{include file='inc/footer.html'}