{include file='inc/header.html'}

<div class="content">

    <div class="container small-section center">
        <h4>Ke každé masáži si můžete zvolit některý z našich aromaterapeutických olejů.</h4>
    </div>

    <div class="container sectionBetweenSection">
    </div>

    <div class="container section">
       <div class="row">
           <div class="col-lg-10 col-lg-offset-1">

               {foreach from=$kategorie item=kat}
                    <h3>{$kat['idNazev']}</h3>
                    <hr />
                    <div class="push_right">
                        {foreach from=$kat['oleje'] item=olej}
                        <h4 class="oil_name">{$olej['nazev']}</h4>
                        {$olej['popis']}
                        <h4 class="price">Cena {$olej['cena']},- Kč</h4>
                        <div class="clear"></div>
                        {/foreach}
                    </div>
               {/foreach}

           </div>
       </div>
    </div>

    <div class="container sectionBetweenSection">
    </div>
</div>

{include file='inc/footer.html'}