
{include file='inc/header.html'}

<div class="content">

    <section>
        <div class="container small-section">
            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Párové masáže</h3>
                    <p>
                        Chcete prožít jedinečné okamžiky relaxace ve dvou? Nejlépe si je vychutnáte při Párové masáži.
                        Tyto masáže jsou jedinečným zážitkem, jak si užít společný čas odpočinku.
                        Probíhají v jedné místnosti při svíčkách a relaxační hudbě.
                    </p>
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6  col-md-3 col-md-offset-3">
                    <img src="media/img/pairOfMassage1.jpg" class="img-circle obrazek" width="200px" height="200px">    
                </div>
                <div class=" col-sm-6 col-md-3 col-md-offset-1">
                    <img src="media/img/pairOfMassage2.jpg" class="img-circle obrazek" width="200px" height="200px">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>
                        Druh masáže si můžete zvolit dle naší nabídky a svých vlastních preferencí.
                        Masáž je možné změnit v den masáže po konzultaci s našimi maséry
                        a vybrat si tak masáž ,která bude „na míru“ Vašim představám .
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container sectionBetweenSection">
        </div>
    </section>
    
</div>


{include file='inc/footer.html'}